@import url(_vars.scss);
@import url(_nav.scss);
body {
  font-family: "Alegreya SC", serif;
  text-align: center;
  background-color: #d8b691;
  color: #5a3725; }

@media screen and (max-width: 768px) {
  #gridIndex {
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "nav" "ban" "ph" "nosotros" "valores" "compromisos" "pie"; }
  nav ul {
    flex-direction: column;
    display: flex; }
    nav ul li {
      margin: initial; } }
