.cTxt {
    width: 94%;
    margin: 3%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .txt {
        margin-bottom: 1%;
    }

}

.mapas {
    width: 92%;
    margin: 4%;
    height: 30vh;
}