footer {
    background-color: map-get($colores, "bgNavFooter");

    a,
    h6,
    p {
        color: map-get($colores, "fontColor");

        .icFooter {
            height: 4vh;
            width: 4vh;
        }
    }
}