@media screen and (max-width: 1024px) {}

.cTxt {
    width: 100%;
    height: 100%;
    margin: initial;
}

.mapas {
    margin: 3% 3% 0 3%;
}


@media screen and (max-width: 768px) {
    .nav-link {
        padding: 0.2rem;
    }

}