nav {
    z-index: 3;
    background-color:map-get($colores, "bgNavFooter");
    top: 0px;

    .logoCafe {
        height: 10vh;
    }

    a {
        font-size: 20px;
        text-decoration: none;
    }

}