@import"vars";
@import"nav";
@import"footer";
@import"medias";
@import"_index";
@import"_sedes";
@import"_menu";
@import"_tienda";
@import"_reservas";

body {
  font-family: "Alegreya SC", serif;
  text-align: center;
  background-color: $bgBody;
  color: $fontColor;
}